<configuration>
  <system.webServer>
    <!-- Enables URL rewrite for Node.js routing -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to the Node.js application -->
        <rule name="NodeJs" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Pass Node.js process errors to IIS -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Ensures the app pool does not time out -->
    <applicationInitialization>
      <add initializationPage="/" />
    </applicationInitialization>

    <!-- Enables Node.js logging -->
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGIModule" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="404;500" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>